/* Estilos generales */
.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos de los formularios */
.banda-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-section {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 15px;
}

/* Estilos para los campos de formulario */
input,
textarea,
select {
    width: 100%;
    padding: 12px;
    margin: 5px 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="file"] {
    padding: 5px;
}

/* Estilos del botón */
.btn-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #45a049;
}