h2 {
    font-size: 2rem;
    color: #f44336;
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: #007bff;
    text-align: center;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.1rem;
    color: #ccc;
    text-align: center;
    margin: 0.5rem 0;
    line-height: 1.5;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 1rem;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Estilo de las tarjetas */
.card {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    color: #fff;
}

.card:hover {
    transform: translateY(-5px);
}

/* Títulos dentro de las tarjetas */
.card-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Espaciado entre los elementos dentro del formulario */
.card-body form {
    margin-top: 15px;
}

/* Estilo de los botones dentro de las tarjetas */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1rem;
}

/* Estilo del formulario para evitar que los elementos se amontonen */
form .form-row {
    margin-bottom: 10px;
}

/* Ajustar el tamaño del formulario */
.card-body form input,
.card-body form select,
.card-body form textarea {
    width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Asegura que el padding no haga que el input se desborde */
}

/* Ajustar la visualización de la tarjeta para imágenes y demos */
.card-body p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #555;
}

.card-body .btn-primary {
    width: auto;
}

/* Estilo para la tarjeta de biografía */
.card-body form textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
}

.card-body form .btn-info {
    width: auto;
}

/* Estilo para la tarjeta de integrantes */
.card-body form .form-group {
    margin-bottom: 15px;
}

.card-body form .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card-body form .btn-primary {
    width: auto;
}
