.container {
    max-width: 900px;
    margin-top: 50px;
}

/* Estilos para el Formulario */
form {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

form input[type="file"] {
    display: block;
    margin-bottom: 15px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Estilos para las Imágenes Subidas */
h3 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #333;
    color: white;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-body {
    text-align: center;
    padding: 15px;
}

.card-body .btn {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
}

.card-body .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    transition: background-color 0.3s ease;
}

.card-body .btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
}

/* Estilos cuando no hay imágenes */
p {
    text-align: center;
    font-style: italic;
    color: #777;
}