{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard Representante{% endblock %}

{% block header_title %}Dashboard de {{ banda.nombre|default:"Sin Banda" }}{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'dashboards/css/representative_dashboard_styles.css' %}">
{% endblock %}

{% block content %}

<!-- Tarjeta de Bienvenida -->
<div class="card welcome-card">
    <div class="card-body">
        <h2>Bienvenido, {{ request.user.username }}</h2>
        <h3>Banda: {{ banda.nombre|default:"No asignada" }}</h3>
        <p>Biografía: {{ banda.biografia|default:"No definida" }}</p>
        <p>Estilo(s) musical(es): 
            {% if banda and banda.estilos_musicales.exists %}
                {% for estilo in banda.estilos_musicales.all %}
                    {{ estilo.nombre }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                No definidos
            {% endif %}
        </p>
        {% if banda and banda.imagen %}
            <img src="{{ banda.imagen.url }}" alt="Imagen de la banda" class="band-image">
        {% else %}
            <p>No hay imagen disponible.</p>
        {% endif %}
    </div>
</div>

<hr>

<!-- Botón para gestionar la banda -->
{% if banda %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Gestionar Banda</h5>
            <p>Haz clic aquí para editar los datos de tu banda.</p>
            <a href="{% url 'edit_banda' banda.id %}" class="btn btn-info">Editar Banda</a>
        </div>
    </div>
{% else %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Agregar Banda</h5>
            <p>Aún no has asignado una banda, por favor hazlo aquí.</p>
            <a href="{% url 'create_banda' %}" class="btn btn-primary">Agregar Banda</a>
        </div>
    </div>
{% endif %}

{% endblock %}
