* {
    box-sizing: border-box;
}

body {
    font-family: 'Rock Salt', cursive, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/rock-texture.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;

}

/* Header */
header {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
    z-index: 1000;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    flex: 1;
}

.logo-img {
    max-width: 100%;
    height: auto;
    transition: max-height 0.3s ease;
}

.page-title {
    flex: 2;
    text-align: center;
}

.page-title h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

.auth-links {
    flex: 0 1 auto;
    text-align: right;
}

.auth-links a {
    text-decoration: none;
    color: #f44336;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.auth-links a:hover {
    color: #fff;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #f44336;
    /* Color rojo brillante */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #fff;
}

/* Efecto shrink cuando se hace scroll */
header.shrunken {
    padding: 5px 10px;
    /* Reduce el padding */
    background-color: #111;
    /* O algún color más oscuro si quieres */
    background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));

}

header.shrunken .logo-img {
    max-height: 150px;
    /* Reducir el tamaño del logo */
}

header.shrunken .page-title h1 {
    font-size: 20px;
    /* Reducir el tamaño de la fuente del título */
}

header.shrunken .auth-links a {
    font-size: 16px;
    /* Reducir el tamaño de los enlaces */
}

/* También puedes cambiar la altura general del header si lo deseas */
header.shrunken {
    height: 60px;
    /* Reducir la altura del header */
}

/* Main content */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 40px 20px;
    margin-top: 150px;
    /* text-align: center; */
}

/* Títulos */
h1 {
    font-size: 3rem;
    color: #f44336;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h2,
h3 {
    font-family: 'Rock Salt', cursive;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

/* Botones */
button {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d32f2f;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Estilo para enlaces */
a {
    color: #f44336;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #fff;
}


/* Estilo para el contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}