body {
    font-family: 'Rock Salt', cursive, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #222;
}

#header-left {
    display: flex;
    align-items: center;
}

#logo img {
    max-width: 150px;
    height: auto;
}

#slogan h1 {
    font-size: 2.5rem;
    color: #f44336;
    margin-left: 20px;
}

#header-right {
    display: flex;
    align-items: center;
}

#header-right .btn-login,
#header-right .btn-logout {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

#header-right .btn-login:hover,
#header-right .btn-logout:hover {
    background-color: #d32f2f;
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
