#landing-content {
    margin-top: 100px;
    text-align: center;
}

#landing-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #f44336; /* Color destacado */
}

#landing-content p {
    font-size: 1.5rem;
    line-height: 1.8;
}