body {
    font-family: 'Rock Salt', cursive, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 100px 20px;
}

#logo img {
    max-width: 200px;
    height: auto;
}

#slogan h1 {
    font-size: 3rem;
    color: #f44336;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
